# ThirdLayer Configuration

# API Configuration
THIRDLAYER_BASE_URL=http://localhost:3000
ADMIN_API_KEY=admin-secret

# Tenant & Project
TENANT_ID=igor
PROJECT_NAME=github-prs-zero

# GitHub Datasource
GITHUB_TOKEN=""
GITHUB_OWNER=zero101010
GITHUB_REPO=api-rest-go

SYNC_NAME=github-prs-zero
